/* Brands Section */
#brands {
    display: block;
    padding: 80px 0 40px;
}

#brands .container {
    max-width: 1296px;
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}


.dark-mode .brand-box {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0px 4.4px 12px -1px rgba(255, 255, 255, 0.15), 0px 2px 6.4px -1px rgba(255, 255, 255, 0.15);
}

.brand-box {
    border: 1px solid var(--color-gray300);
    border-radius: 8px;
    height: 100px;
    width: 180px;
    display: flex;
    justify-content: center;    
    align-items: center;
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    transition: transform 0.3s ease;
}

.brand-box:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    #brands .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .brand-box {
        width: calc(50% - 12px);
        margin-bottom: 24px;
    }

    #brand-1,
    #brand-2 {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1399px) {
    #brand-1,
    #brand-2 {
        display: none;
    }
}

@media (min-width: 1400px) {
    #brand-1,
    #brand-2 {
        display: flex;
    }
}
